/* Estilos generales para el footer */
footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #1a1a1a;
    padding: 1rem; /* Añadí un padding general para mejorar la apariencia en dispositivos pequeños */

    .redesFooter {
        width: 2rem;
        transition: 2s;

        &:hover {
            transform: scale(1.2);
        }
    }

    ul {
        list-style: none;
        margin: 0; 
        padding: 0; 
    }

    .copyEmail {
        display: flex;
        justify-content: center;
        font-size: 0.85em;
        margin: 0 auto;
        text-align: center; 
    }

    .contacto {
        padding: 1rem;
    }

    /* media queries */
    @media (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;

        ul {
            display: flex;
            margin: 0 auto;
            
        }

        

        .copyEmail {
            margin-top: 1rem; 
        }

        .contacto {
            padding: 0.5rem;
            margin: 0 auto;
            margin-top: 1rem;

        }
    }
}
