/* Estilos generales para el encabezado */
header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 90vh;
    padding: 2rem;
    background-image: url(../assets/bannerMusic.jpg);
    background-size: cover;
    
    
    
    .abrir__menu{
        width: 1.5rem;
        color:#FFFF00;
        display: none;
    }

    .logo {
        max-width: 3rem;
        filter: drop-shadow(5px 8px 12px);
    }

    
    .nav {
        display: flex;
        align-items: center;
        gap: 1rem;

        .cerrar__menu{
            width: 1.5rem;
            color:#FFFF00;
            display: none;
            
        }
        

        li {
            list-style: none;
            gap: 2rem;

            a {
                text-decoration: none;
                color: yellow;
                padding: 1rem;
                margin: 0 1rem; 
                transition: 1s;
                border-radius: 5%;
                font-weight: bold;
                background-color: #1a1a1a;
                transition: 1s;

                &:hover {
                    border: solid 1px grey;
                }
            }
        }
    }

    /* medias queries */
    @media (max-width: 768px) {
        
        .abrir__menu{
            width: 1.5rem;
            color:#FFFF00;
            display: block;
        }

         

        .nav {
            position: absolute;
            flex-direction: column;
            align-items: flex-end;
            left: 0;
            gap: 0.5rem;
            opacity: 0;
            visibility: hidden;
           
            
            .cerrar__menu{
                width: 1.5rem;
                color:#FFFF00;
                display: block;
                
            }

            li {
                margin: 1rem 0;

                a{
                    width: 100%;
                    
                }
            }
        }

        .visible{
            opacity: 1;
            overflow: visible;
            background-color: #000;
            top: 0;
            padding-bottom:2.1rem ;
                        
            
        }

        
}
}
